<table class="table">
  <thead>
    <tr class="border-top">
      <th class="bg-light">Property</th>
      <th class="bg-light">Check-in</th>
      <th class="bg-light">Check-out</th>
      <th class="bg-light">Guests</th>
      <th class="bg-light">Status</th>
      <th class="bg-light">Cost</th>
      <th class="bg-light">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_bookings.each do |booking| %>
      <% bg_class =
      case booking.booking_status
      when "pending" then "bg-warning-subtle"
      when "confirmed" then "bg-success-subtle"
      else "bg-light"
      end
    %>

      <tr>
        <td class="<%= bg_class %>"><%= link_to booking.property.property_address, property_path(booking.property) %></td>
        <td class="<%= bg_class %>"><%= booking.check_in_date %></td>
        <td class="<%= bg_class %>"><%= booking.check_out_date %></td>
        <td class="<%= bg_class %>"><%= booking.number_of_guests %></td>
        <td class="<%= bg_class %>"><%= booking.booking_status %></td>
        <td class="<%= bg_class %>"><%= (booking.check_out_date - booking.check_in_date).to_i * booking.property.price_per_night%>$</td>
        <td class="<%= bg_class %>">
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
