<% @user_property_bookings.each do |booking| %>
  <% if booking.property.user_id == current_user.id %>
    <% bg_class =
      case booking.booking_status
      when "pending" then "bg-warning-subtle"
      when "confirmed" then "bg-success-subtle"
      else "bg-light"
      end
    %>
    <div class="<%= bg_class %> p-3 mb-2 rounded m-2" data-controller="booking" data-booking-id="<%= booking.id %>">
      <p><%= booking.property.property_address %></p>
      <p>
        <%= booking.check_in_date %> to
        <%= booking.check_out_date %>
      </p>
      <select data-action="change->booking#updateStatus" data-booking-target="select">
        <option value="" disabled <%= "selected" if booking.booking_status.blank? %>>Choose status</option>
        <option value="pending" <%= "selected" if booking.booking_status == "pending" %>>Pending</option>
        <option value="confirmed" <%= "selected" if booking.booking_status == "confirmed" %>>Confirmed</option>
      </select>
      <%= link_to 'Delete Booking', booking_path(booking),
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
        class: 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
